.container-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  font-size: small;

  thead th {
    background-color: var(--primaryColor);
  }
  th,
  td {
    text-align: center;
    background-color: rgba(107, 92, 92, 0.2);
    color: #785555;
  }

  th {
    text-align: center;
    color: #000;
  }
  tr:hover {
    background-color: rgba(224, 24, 24, 0.3);
  }

  @media only screen and (min-width: 375px) {
    th,
    td {
      padding: 4px 0 4px;
    }
    th {
      font-size: 14px;
    }
  }
  @media only screen and (min-width: 768px) {
    th,
    td {
      padding: 8px 0 8px;
    }
    th {
      font-size: 18px;
    }
  }
}
