.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 68px;
  margin-bottom: 12px;
  transition: all 0.6s ease;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .log-img {
    width: 36px;
    height: 36px;
  }
  .logo-title {
    font-weight: 600;
    font-size: 18px;
    color: rgb(18, 20, 23);
    margin-left: 16px;
    margin-right: auto;
  }
  @media only screen and (min-width: 768px) {
    padding: 24px 16px;
  }
  @media only screen and (min-width: 1440px) {
    padding-left: 84px;
    padding-right: 84px;
  }
  .navigation-menu {
    display: none;
    @media only screen and (min-width: 1440px) {
      display: inline;
      margin-left: auto;
      margin-right: auto;
      .nav-title {
        padding: 12px 20px;
        margin-right: 28px;
        color: #fff;
        background-color: var(--primaryColor);
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background-color: var(--onFocus);
        }
      }
    }
  }
  .bar-menu {
    display: flex;
  }
}
