
.container{
   @media only screen and (min-width: 768px) {
       display: flex;
       gap: 8px;
     
   }

}
.label{
    display: flex;
    align-items: center;
justify-content: center;
margin-bottom: 8px;
// max-width: 100vw;
}
.input-container {
    min-width: 288px;
  position: relative;
  width: 100%;
//   width: calc(100% - 40px); /* Adjust for the icon's width and margin */
}

.search-input {
  font-weight: 500;
  font-size: 16px;
  color: #121417;
  border-radius: 15px;
  border: 1px solid black;
  padding: 12px 40px; /* Adjust for the icon's width */
  background-color: beige;
  width: 100%; /* Set input field width to 100% of its container */
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right distance to fit the icon inside the input */
  transform: translateY(-50%);
}