.r-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; 
}
.title-recom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
//    background-color: rgb(236, 177, 99);
}